body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFFBFE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #FFFBFE;
}

/* CSS for Navbar */
#navdiv {
  background-color: #fffbfe;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
  align-items: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  position: sticky;
  top: 0%;
  z-index: 1000;
}

#hamburger{
  cursor: "pointer"; 
  height: 20px;
  color: #4D5C9A;
  position: absolute;
  left: 25px;
}

#bellIcon{
  width: 26px;
  height: 20px;
  color: #4D5C9A;
  cursor: "pointer";
  position: absolute;
  right: 95px;
}

#navdiv img {
  height: 30px; 
  position: absolute;
  cursor: pointer;
  right: 35px;
}

/* CSS for Sidebar */

#sidebar {
  background-color: #FFFBFE;
  height: 100vh;
  position: fixed;
  width: 222px;
  transition: transform 0.3s ease; 
}

#sidebar.closed {
  transform: translateX(-100%);
}

#sidebar.open {
  transform: translateX(0);
}

#barterLogo {
  margin: 10px 0 0 47px;
  width: 101px;
  height: 90px;
}

#sidebar ul {
  list-style: none;
  padding: 0px 5px 0 5px;
}

#searchBar{
  font-size: 14px;
  font-family: 'Manrope';
  margin: 20px 0 15px 10px ;
  border-radius: 4px;
  border: 1px solid #6750A4;
  padding: 0 12px;
}

#searchBar:focus {
  border: 2px solid #6750A4;
  outline: none;
}

/* #sidebar ul li a  */
.sidebar-opt a{
  text-decoration: none;
  /* padding: 15px 0px 0px 0px; */
  font-size: 14px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
  color: inherit;
  width: 211px;
  height: 40px;
  align-content: center;
  padding-left: 26px;
  color: #6750A4;
  border-radius: 4px;
}

.sidebar-opt a:hover {
  color: #FFF;
  background-color: #b8a4f0; 
}

a.active{
  color: #FFF;
  background-color: #6750A4;
}

/* Css for sidebar and page responsiveness */
.sidebarPages {
  display: flex;
  transition: margin-left 0.3s ease;
}

.sidebar-open .content {
  margin-left: 230px;
  margin-right: 35px;
}

.sidebar-closed .content {
  margin-left: 115px;
  margin-right: 115px;
}

.content{
  margin-top: 10px;
  width: 100%;
}

@media (min-width: 1400px) {
  .sidebar-open .content {
    margin-left: 330px;
    margin-right: 200px;
  }
  
  .sidebar-closed .content {
    margin-left: 215px;
    margin-right: 215px;
  }  

  .content{
    display: flex;
    justify-content: center;
  }

  .totalB-I-D .item{
    margin-left: 30px;
  }
}

/* @media (max-width: 600px) {
  #sidebar {
    position: static;
    height: auto;
  }

  #sidebar h1 {
    text-align: center;
    padding: 100px 0;
  }

  #sidebar ul {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  #sidebar ul li {
    display: inline-block;
  }
} */

/* CSS for Footer

.footer {
  color: #000000;
  display: block;
  align-items: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  font-size: 12px;
  z-index: 1000;
}

.footer-text {
  font-family: 'Manrope', sans-serif;
} */

/* css for home pages */

/* .homeDiv{
  display: flex;
  flex-direction: column;
} */

.welcomDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.h4Style{
  font-size: 18px;
  font-family: "Lexend";
  font-weight: 700;
  color: #415094;
}

.POCbutton{
  width: 198px;
  height: 46px;
  background-color: #6750A4;
  color: #FFF;
  font-family: 'Manrope';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border: 1px solid #6750A4;
  border-radius: 4px;
  padding: 12px 18px 13px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalB-I-D{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 28px;
  padding-left: 70px;
  padding-right: 70px;
}

.totalB-I-D .item{
  height: 92px;
  width: 279px;
  box-shadow: 0px 0px 2px 0px rgba(23, 26, 31, 0.12), 0px 0px 1px 0px rgba(23, 26, 31, 0.07);
  padding: 19px 19px 20px 28px;
}

.totalB-I-D .itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalB-I-D .itemHeader span{
  font-size: 17px;
  color: #415094;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
}

.totalB-I-D .itemHeader .count{
  font-size: 17px;
  color: #9C27B0;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
}

.totalB-I-D .itemDescription {
  color: #9EA2C4;
  font-family: "Manrope";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
}

.homeBtn{
  width: 435px;
  margin: 19px 0 0 0;
  background-color: #FEFEFE;
  display: inline-flex;
  padding: 12px 15px 12px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #6750A4;
  color: #415094;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.reportDiv{
  margin-top: 21px;
  display: flex;
  flex-direction: row;
  align-items:first baseline;
  justify-content: center;
  position: relative;
  height: 230px;
}

.custom-carousel {
  display: flex;
  justify-content: center;
  width: 87%;
}

.carousel-items {
  display: flex;
  overflow: hidden;
}

.carousel-control {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.carousel-indicators{
  display: flex;
  justify-self: center;
  width: 50vw;
  margin: 0;
}

.indicator {
  background-color: #ddd;
  border: none;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: #A180DB;
}

.reportCard{
  width: 371px;
  height: 191px;
  border-radius: 4px;
  background: #FFF;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0px 0px 2px 0px rgba(23, 26, 31, 0.12), 0px 0px 1px 0px rgba(23, 26, 31, 0.07);
}

.reportText{
  margin-left: 9px;
}

.reportText h4{
  color: #171A1F;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.reportText h5{
  color: #9095A1;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.postInfluCount{
  position: relative;
  top: 26px;
  display: flex;
  flex-direction: row;
}

.postInfluCount div h4{
  color: #171A1F;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0px;
}

.postInfluCount div p{
  color: #BDC1CA;
  font-family: Manrope;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.postInfluCount img{
  height: 28px;
  width: 28px;
  margin-left: 210px;
  cursor: pointer;
}

.POC-drop{
  font-size: 14px;
  padding: 0px 5px;
  cursor: pointer;
  border: 1px solid #6750A4;
  border-radius: 4px;
}

.POC-drop option{
  padding: 14px;
}

.reportCardBtn{
  display: inline-flex;
  margin-top: 11px;
  width: 371px;
  height: 54px;
  text-align: left;
  padding: 0 20px 0 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #F6F0FF;
  border: 0px;
  color: #9095A1;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.hotSectionContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hotSection {
  max-width: 1200px;
  width: 100%;
}

.hotSection{
  padding: 0 10px;
  padding-left: 25px;
}

.hotSectionTableHome{
  box-shadow: 0px 0px 2px 0px rgba(23, 26, 31, 0.12), 0px 0px 1px 0px rgba(23, 26, 31, 0.07);
  margin-top: 15px;
}

/* .hotDealsHome{
   margin-left: 10px; 
} */

.tableControls {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.tableControls select,
.tableControls input {
  padding: 5px;
  margin-right: 10px;
}

.brand-N-B{
  position: absolute;
  left: 8rem;
  bottom: 1.2rem;
  color: #FFF;
  height: fit-content;
}

.brand-N-B h5 {
  margin-bottom: 0;
  font-size: 15px;
}

.brand-N-B p{
  margin-bottom: 0;
  font-size: 14px;
}

.brand-info-card{
  width: 18.5rem;
  min-height: 12.5625rem;
  height: fit-content;
  border-radius: 4px;
  border: 1px solid #D0BCFF;
  padding: 8px 8px 8px 15px;
  background-color: #FEF7FF;
}

.brand-info-card h3{
  color: #6750A4;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.brand-info-card p{
  color: #7C7F82;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 10px;
}

.info-brand{
  display: flex;
  flex-direction: row;
}

.info-brand div div{
  color: #7C7F82;
  font-size: 14px;
  font-weight: 400;
  height: fit-content;
  margin-bottom: 0;
}

.aboutBrandDiv{
  width: 18.5rem;
  max-height: fit-content;
  border: 1px solid #D0BCFF;
  margin-top: 6px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #FEF7FF;
  padding: 10px 13px 0 13px;
}

.overview-subscription-container{
  display: flex;
  flex-direction: row;
}

.overview-box{
  width: 20rem;
  height: 13rem;
}

.overview-box p{
  margin-bottom: 0;
}

.subscription-box{
  min-width: 20rem;
  width: fit-content;
  height: 13rem;
  margin-left: 1rem;
}

.subscription-box p{
  margin-bottom: 0;
}

.overview-box, .subscription-box, .spend-category-box, .campaigns-box {
  background-color: #FEF7FF;
  border: 1px solid #D0BCFF;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 0px 0px 2.415px 0px rgba(23, 26, 31, 0.12), 0px 0px 1.208px 0px rgba(23, 26, 31, 0.07);
}

/* .brand-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.overview-subscription-container {
  display: flex;
  justify-content: space-between;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  color: #6750A4;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin: 5px 0;
}

.spend-category-chart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.campaigns-box {
  grid-column: 1 / span 2;
}

.campaigns-box table {
  width: 100%;
  border-collapse: collapse;
}

.campaigns-box th, .campaigns-box td {
  padding: 10px;
  text-align: left;
}

.campaigns-box th {
  background-color: #f0f0f0;
}

.campaigns-box tr:nth-child(even) {
  background-color: #f9f9f9;
}
 */